# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Bb]in/
[Oo]bj/
[Rr]ender/

# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj.user
*.vcxproj.filters
*.vcxproj

# Compiled binaries
*.dll
*.lib
*.pdb
*.ilk

# Intermediate files
*.obj
*.tlog
*.log
*.pch
*.ipch

# Cache
*.VC.db
*.VC.opendb

# Other junk
*.cache
*.db
*.opendb
*.mp4
*.svg
*.bmp
*.png
*.jpg
*.jpeg
[Mm]ain.c